Spec(
    char: Size(w: 7, h: 9),
    pad: Size(w: 1, h: 1),
    width_overrides: {
        "()": 4,
        "'": 3,
        ":": 2,
        ";": 3,
        "I": 2,
        "f": 5,
        "i": 2,
        "j": 3,
        "l": 4,
        "t": 5,
    }
)