Spec(
    char: Size(w: 7, h: 9),
    pad: Size(w: 1, h: 1),
    width_overrides: {
        "()": 4,
        "<>": 6,
        "-=": 5,
        "'": 3,
        ":": 2,
        ";": 3,
        "I": 2,
        "f": 5,
        "i": 2,
        "j": 3,
        "l": 4,
        "t": 5,
        "JT": 6,
    },
    kerning: (
        left: {
            // things that have an 'o'-shaped right hand side
            "o": "abcopr",
            // things that have a 'u'-shaped right hand side
            "u": "guswy",
            // T admits a lot of tucking
            "T": "T",
        },
        right: {
            // things that have an 'o'-shaped left hand side
            "o": "acdegoq",
            // things that have a 'u'-shaped left hand side
            "u": "uy",
            // T admits a lot of tucking
            "T": "T",
        },
        pairs: {
            ("o", "T"): -1,
            ("u", "T"): -1,
            ("T", "o"): -1,
            ("T", "u"): -1,
        }
    )
)