Spec(
    char: Size(w: 12, h: 16),
    pad: Size(w: 1, h: 1),
    width_overrides: {
        // Punctuation
        "()": 8,
        "<>": 9,
        "'": 4,
        "\"": 8,
        ":": 2,
        ";": 3,
        "=": 8,
        "Ii": 2,
        "l": 6,
        "v": 10,
        "z": 11,
        // 'o' derived lowercase letters
        "abcdo": 10,
    }
)
