Spec(
    char: Size(w: 5, h: 7),
    pad: Size(w: 1, h: 1),
    width_overrides: {
        "()[]": 3,
        "<>": 4,
        ":": 1,
        ";": 2,
        "Ii!": 1,
        "j": 2,
        "l": 2,
        "t": 4,
    }
)